In [58]:
import pandas as pd
import numpy as np
df = pd.read_csv('csv2mySql/rndAll191031.csv', encoding='utf-8')
df

,airline,price,score,label,cp,footnotes,etd,dur,eta,saEtd,...,weEta,tuEtd,tuDur,tuEta,moEtd,moDur,moEta,suEtd,suDur,suEta
0,EVA Air,10576,95,fr0,0.008983,morningafternoon,2019-07-05 15:20,03:00:00,2019-07-05 19:20,2019-07-06 13:00,...,2019-07-03 16:05,2019-07-02 13:00,04:05:00,2019-07-02 16:05,2019-07-01 13:00,04:05:00,2019-07-01 16:05,2019-07-07 14:00,04:05:00,2019-07-07 17:05
1,China Airlines,8306,67,fr0,0.008066,morningafternoon,2019-07-05 16:20,03:00:00,2019-07-05 20:20,2019-07-06 14:35,...,2019-07-03 17:45,2019-07-02 14:35,04:10:00,2019-07-02 17:45,2019-07-01 17:45,04:10:00,2019-07-01 20:55,2019-07-07 20:00,03:55:00,2019-07-07 22:55
2,JAL,12359,90,fr0,0.007282,morningafternoon,2019-07-05 09:30,02:50:00,2019-07-05 13:20,2019-07-06 11:15,...,2019-07-03 11:40,2019-07-02 18:00,04:15:00,2019-07-02 21:15,2019-07-01 18:00,04:15:00,2019-07-01 21:15,2019-07-07 11:15,04:20:00,2019-07-07 14:35
3,EVA Air,13156,95,fr0,0.007221,morningafternoon,2019-07-05 07:30,02:45:00,2019-07-05 11:15,2019-07-06 14:00,...,2019-07-03 17:05,2019-07-02 14:00,04:05:00,2019-07-02 17:05,2019-07-01 14:00,04:05:00,2019-07-01 17:05,2019-07-07 20:20,04:05:00,2019-07-07 23:25
4,China Airlines,11214,67,fr0,0.005975,morningafternoon,2019-07-05 12:25,03:00:00,2019-07-05 16:25,2019-07-06 17:45,...,2019-07-03 22:55,2019-07-02 20:00,03:55:00,2019-07-02 22:55,2019-07-01 20:00,03:55:00,2019-07-01 22:55,2019-07-07 14:35,04:10:00,2019-07-07 17:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Cathay Pacific,9556,97,we5,0.010151,cp-noonafternoon,2019-07-03 12:50,03:00:00,2019-07-03 16:50,2019-07-06 15:20,...,2019-07-03 18:40,2019-07-02 15:20,04:20:00,2019-07-02 18:40,2019-07-01 15:20,04:20:00,2019-07-01 18:40,2019-07-07 15:20,04:20:00,2019-07-07 18:40
171,EVA Air,10886,95,we5,0.008727,cp-noonafternoon,2019-07-03 15:20,03:00:00,2019-07-03 19:20,2019-07-06 13:00,...,2019-07-03 15:00,2019-07-02 12:15,03:45:00,2019-07-02 15:00,2019-07-01 10:35,03:55:00,2019-07-01 13:30,2019-07-07 13:00,04:05:00,2019-07-07 16:05
172,China Airlines,9563,67,we5,0.007006,cp-noonafternoon,2019-07-03 16:20,03:00:00,2019-07-03 20:20,2019-07-06 20:00,...,2019-07-03 10:55,2019-07-02 07:55,04:00:00,2019-07-02 10:55,2019-07-01 07:55,04:00:00,2019-07-01 10:55,2019-07-07 07:55,04:00:00,2019-07-07 10:55
173,China Airlines,10107,67,we5,0.006629,cp-noonafternoon,2019-07-03 14:40,03:05:00,2019-07-03 18:45,2019-07-06 14:15,...,2019-07-03 17:15,2019-07-02 09:20,04:10:00,2019-07-02 12:30,2019-07-01 09:20,04:10:00,2019-07-01 12:30,2019-07-07 14:15,04:00:00,2019-07-07 17:15
174,China Airlines,10243,67,we5,0.006541,cp-noonafternoon,2019-07-03 12:35,03:00:00,2019-07-03 16:35,2019-07-06 09:20,...,2019-07-03 12:30,2019-07-02 14:15,04:00:00,2019-07-02 17:15,2019-07-01 14:15,04:00:00,2019-07-01 17:15,2019-07-07 09:20,04:10:00,2019-07-07 12:30

In [51]:
df.dtypes

airline       object
price          int64
score          int64
label         object
cp           float64
footnotes     object
etd           object
dur           object
eta           object
saEtd         object
saDur         object
saEta         object
frEtd         object
frDur         object
frEta         object
thEtd         object
thDur         object
thEta         object
weEtd         object
weDur         object
weEta         object
tuEtd         object
tuDur         object
tuEta         object
moEtd         object
moDur         object
moEta         object
suEtd         object
suDur         object
suEta         object
dtype: object

In [59]:
for i in ('dur', 'saDur', 'frDur', 'thDur', 'weDur', 'tuDur', 'moDur', 'suDur'):
    df[i]=pd.to_numeric(pd.to_timedelta(df[i])/np.timedelta64(1, 's'), downcast='integer')
df

,airline,price,score,label,cp,footnotes,etd,dur,eta,saEtd,...,weEta,tuEtd,tuDur,tuEta,moEtd,moDur,moEta,suEtd,suDur,suEta
0,EVA Air,10576,95,fr0,0.008983,morningafternoon,2019-07-05 15:20,10800,2019-07-05 19:20,2019-07-06 13:00,...,2019-07-03 16:05,2019-07-02 13:00,14700,2019-07-02 16:05,2019-07-01 13:00,14700,2019-07-01 16:05,2019-07-07 14:00,14700,2019-07-07 17:05
1,China Airlines,8306,67,fr0,0.008066,morningafternoon,2019-07-05 16:20,10800,2019-07-05 20:20,2019-07-06 14:35,...,2019-07-03 17:45,2019-07-02 14:35,15000,2019-07-02 17:45,2019-07-01 17:45,15000,2019-07-01 20:55,2019-07-07 20:00,14100,2019-07-07 22:55
2,JAL,12359,90,fr0,0.007282,morningafternoon,2019-07-05 09:30,10200,2019-07-05 13:20,2019-07-06 11:15,...,2019-07-03 11:40,2019-07-02 18:00,15300,2019-07-02 21:15,2019-07-01 18:00,15300,2019-07-01 21:15,2019-07-07 11:15,15600,2019-07-07 14:35
3,EVA Air,13156,95,fr0,0.007221,morningafternoon,2019-07-05 07:30,9900,2019-07-05 11:15,2019-07-06 14:00,...,2019-07-03 17:05,2019-07-02 14:00,14700,2019-07-02 17:05,2019-07-01 14:00,14700,2019-07-01 17:05,2019-07-07 20:20,14700,2019-07-07 23:25
4,China Airlines,11214,67,fr0,0.005975,morningafternoon,2019-07-05 12:25,10800,2019-07-05 16:25,2019-07-06 17:45,...,2019-07-03 22:55,2019-07-02 20:00,14100,2019-07-02 22:55,2019-07-01 20:00,14100,2019-07-01 22:55,2019-07-07 14:35,15000,2019-07-07 17:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Cathay Pacific,9556,97,we5,0.010151,cp-noonafternoon,2019-07-03 12:50,10800,2019-07-03 16:50,2019-07-06 15:20,...,2019-07-03 18:40,2019-07-02 15:20,15600,2019-07-02 18:40,2019-07-01 15:20,15600,2019-07-01 18:40,2019-07-07 15:20,15600,2019-07-07 18:40
171,EVA Air,10886,95,we5,0.008727,cp-noonafternoon,2019-07-03 15:20,10800,2019-07-03 19:20,2019-07-06 13:00,...,2019-07-03 15:00,2019-07-02 12:15,13500,2019-07-02 15:00,2019-07-01 10:35,14100,2019-07-01 13:30,2019-07-07 13:00,14700,2019-07-07 16:05
172,China Airlines,9563,67,we5,0.007006,cp-noonafternoon,2019-07-03 16:20,10800,2019-07-03 20:20,2019-07-06 20:00,...,2019-07-03 10:55,2019-07-02 07:55,14400,2019-07-02 10:55,2019-07-01 07:55,14400,2019-07-01 10:55,2019-07-07 07:55,14400,2019-07-07 10:55
173,China Airlines,10107,67,we5,0.006629,cp-noonafternoon,2019-07-03 14:40,11100,2019-07-03 18:45,2019-07-06 14:15,...,2019-07-03 17:15,2019-07-02 09:20,15000,2019-07-02 12:30,2019-07-01 09:20,15000,2019-07-01 12:30,2019-07-07 14:15,14400,2019-07-07 17:15
174,China Airlines,10243,67,we5,0.006541,cp-noonafternoon,2019-07-03 12:35,10800,2019-07-03 16:35,2019-07-06 09:20,...,2019-07-03 12:30,2019-07-02 14:15,14400,2019-07-02 17:15,2019-07-01 14:15,14400,2019-07-01 17:15,2019-07-07 09:20,15000,2019-07-07 12:30

In [49]:
#df.to_csv('csv2mySql/rndAllDelt.csv', index=False)

In [60]:
for i in ('etd', 'eta', 'saEtd', 'saEta', 'frEtd', 'frEta', 'thEtd', 'thEta', 
          'weEtd', 'weEta', 'tuEtd', 'tuEta', 'moEtd', 'moEta', 'suEtd', 'suEta'):
    df[i]=pd.to_datetime(df[i])
df.dtypes

airline              object
price                 int64
score                 int64
label                object
cp                  float64
footnotes            object
etd          datetime64[ns]
dur                   int16
eta          datetime64[ns]
saEtd        datetime64[ns]
saDur                 int16
saEta        datetime64[ns]
frEtd        datetime64[ns]
frDur                 int16
frEta        datetime64[ns]
thEtd        datetime64[ns]
thDur                 int16
thEta        datetime64[ns]
weEtd        datetime64[ns]
weDur                 int16
weEta        datetime64[ns]
tuEtd        datetime64[ns]
tuDur                 int16
tuEta        datetime64[ns]
moEtd        datetime64[ns]
moDur                 int16
moEta        datetime64[ns]
suEtd        datetime64[ns]
suDur                 int16
suEta        datetime64[ns]
dtype: object

In [61]:
def mapping_df_types(df):
    dtypedict = {}
    for i, j in zip(df.columns, df.dtypes):
        if "object" in str(j):
            dtypedict.update({i: NVARCHAR(length=255)})
        if "float" in str(j):
            dtypedict.update({i: Float(precision=2, asdecimal=True)})
        if "int" in str(j):
            dtypedict.update({i: Integer()})
        if "datetime64[ns]" in str(j):
            dtypedict.update({i: DATETIME()})
    return dtypedict

In [62]:
from sqlalchemy.types import NVARCHAR, Float, Integer, DATETIME
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:iii@mysql/test".format('root', 'iii', 'host:mysql', 'test'))
conn = engine.connect()
dtypedict = mapping_df_types(df)
df.to_sql(name='flight', con=conn, if_exists='replace', index_label='id',
          dtype=dtypedict)

/opt/conda/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3720, 'NATIONAL/NCHAR/NVARCHAR implies the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using CHAR(x) CHARACTER SET UTF8MB4 in order to be unambiguous.')
  result = self._query(query)

In [95]:
import pymysql
import json

#csv 匯入 DB
try:
    engine = create_engine('mysql+pymysql://root:iii@mysql/test')
    #with engine.connect() as conn, conn.begin():
    #build connenction
    connection = pymysql.connect(host='mysql', 
                                 user='root',
                                 password='iii',
                                 charset='utf8mb4',
                                 database='test',
                                 cursorclass=pymysql.cursors.DictCursor)

    with connection.cursor() as cursor:
        sql = "USE `test`"
        cursor.execute(sql)
        sql_query = "SELECT airline,footnotes,price,label,eta,dur,etd FROM `flight` where label = 'fr1' order by etd"
        cursor.execute(sql_query)
        result = cursor.fetchall()
        for i in result:
            print(i)

except:
    connection.rollback() #Rollback the changes on error
    print('wrong sql')

finally:
    connection.close()

    #     print(result)

{'airline': 'EVA Air', 'footnotes': 'cp-morningnoon', 'price': 11440, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 12, 0), 'dur': 11100, 'etd': datetime.datetime(2019, 7, 5, 7, 55)}
{'airline': 'EVA Air', 'footnotes': 'cp-morningnoon', 'price': 11440, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 12, 55), 'dur': 11100, 'etd': datetime.datetime(2019, 7, 5, 8, 50)}
{'airline': 'JAL', 'footnotes': 'cp-morningnoon', 'price': 11524, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 14, 0), 'dur': 10800, 'etd': datetime.datetime(2019, 7, 5, 10, 0)}
{'airline': 'ANA', 'footnotes': 'cp-morningnoon', 'price': 13136, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 14, 30), 'dur': 11400, 'etd': datetime.datetime(2019, 7, 5, 10, 20)}
{'airline': 'Cathay Pacific', 'footnotes': 'cp-morningnoon', 'price': 9556, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 16, 50), 'dur': 10800, 'etd': datetime.datetime(2019, 7, 5, 12, 50)}
{'airline': 'JAL', 'footnotes': 'cp-morningnoon', 'price': 16374, 'label': 'fr1', 'eta': datetime.datetime(2019, 7, 5, 17, 25), 'dur': 11100, 'etd': datetime.datetime(2019, 7, 5, 13, 20)}